#beach_container {
  display: flex;
  justify-content: center;
}

#beach_image {
  cursor: crosshair;
  max-width: 100%;
  height: auto;
}

#pop_up_list {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  z-index: 1;
}

#character_selection_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 16px;
  left: 32px;
  background: white;
  height: 9em;
  width: 5em;
}

.charcter_selection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 3em;
  font-size: 1em;
  border: 1px solid black;
  /* color: white; */
}
