#beach_container {
  display: flex;
  justify-content: center;
}

#beach_image {
  cursor: crosshair;
  max-width: 100%;
  height: auto;
}

#pop_up_list {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  z-index: 1;
}

#character_selection_container {
  position: absolute;
  top: 16px;
  left: 32px;
  background: rgba(0, 0, 0, 0.327);
  height: 10em;
  width: 5em;
}
